general:
    model_name: GDAMIL
    seed: 3407
    num_classes: 2
    num_epochs: 100
    device: 0
    num_workers: 4
    earlystop:
        use: False
        patience: 5
    best_metric: acc

model:
    k_components: 10
    k_neighbors: 10
    dropout: 0.1
    act: relu
    optimizer:
        which: adam    # adam or adamw
        adam_config:
            lr: 0.0002
            weight_decay: 0.00001
        adamw_config:
            lr: 0.0002
            weight_decay: 0.00001
    criterion: ce
    scheduler:
        warmup: 2
        which: step  # [step, cosine,multi_step,exponential]
        step_config:
            step_size: 3 # absolute step size, should ensure that step_size > warmup
            gamma: 0.9
        multi_step_config:
            milestones: [20, 30, 40] # absolute milestones, should ensure that milestones > warmup
            gamma: 0.9
        exponential_config:
            gamma: 0.9 # begin after warmup
        cosine_config:
            T_max: 10 # interval of cosine annealing, begin after warmup
            eta_min: 0.0001
